{% extends "home.html" %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
<div class="main">
    <h2>Cambiar contraseña</h2>
    <form method="post">
        {% csrf_token %}
        <label>Contraseña actual</label>
        <input type="password" name="old_password" required>

        <label>Nueva contraseña</label>
        <input type="password" name="new_password" required>

        <label>Confirmar nueva contraseña</label>
        <input type="password" name="confirm_password" required>

        <button type="submit">Cambiar contraseña</button>
    </form>
</div>
{% endblock %}
