{% extends "home.html" %}
{% block content %}
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-success text-white">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Crear un anuncio</h2>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url 'advertisement_list' %}" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
